/* last-number-mofva-view */
#last-number-mofva-view {
  background-color: white;
  line-height: 0.8;
  border: 10px solid rgb(255, 255, 255);
}
#last-number-mofva-view .mofva-letter {
  font-size: 2.4rem;
  text-transform: uppercase;
}
#last-number-mofva-view .mofva-number {
  font-size: 6.8rem;
}
