/* General */

#main-obs-fullhd-adaptive-view {
  background-color: #fbc200;
  background-image: url("../../../../public/views-media/main-obs-fullhd-adaptive/bg-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Aktiv Grotesk Ex Trial XBold", Arial, sans-serif;
  /* font-size: 12rem; */
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

#main-obs-fullhd-adaptive-view section {
  display: grid;
}

#main-obs-fullhd-adaptive-view section > div {
  padding: 20px;
  background-color: #e5004d;
  border-radius: 16px;
}

#main-obs-fullhd-adaptive-view #main-obs-fullhd-adaptive--game-board {
  grid-area: 12 span / 4 span;
}
#main-obs-fullhd-adaptive-view #main-obs-fullhd-adaptive--ball-cam {
  grid-area: 5 span / 3 span;
}
#main-obs-fullhd-adaptive-view #main-obs-fullhd-adaptive--studio-cam {
  grid-area: 5 span / 5 span;
}
#main-obs-fullhd-adaptive-view #main-obs-fullhd-adaptive--group {
  grid-area: 6 / 5 / 7 span / 5 span;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
#main-obs-fullhd-adaptive-view #main-obs-fullhd-adaptive--display-ads {
}
#main-obs-fullhd-adaptive-view #main-obs-fullhd-adaptive--score {
}
#main-obs-fullhd-adaptive-view #main-obs-fullhd-adaptive--prize-info {
  grid-area: 6 / 10 / 2 span / 3 span;
}
#main-obs-fullhd-adaptive-view #main-obs-fullhd-adaptive--game-mode {
  grid-area: 8 / 10 / 5 span / 3 span;
}

#main-obs-fullhd-adaptive-view .ball-cam-mod {
  background-color: rgb(0, 255, 0);
  width: max-content;
  aspect-ratio: 1 / 1;
  padding: inherit;
  border: 8px solid rgb(229, 0, 77);
  border-radius: 100%;
  justify-self: center;
  display: grid;
}
#main-obs-fullhd-adaptive-view .studio-cam-mod {
  background-color: rgb(0, 255, 0);
  padding: inherit;
  border: 8px solid rgb(229, 0, 77);
  display: grid;
}
#main-obs-fullhd-adaptive-view .display-ads {
  background-color: rgb(255, 255, 255);
  display: grid;
}
#main-obs-fullhd-adaptive-view .score {
  background-color: rgb(255, 255, 255);
  padding: inherit;
  overflow: hidden;
  position: relative;
}
#main-obs-fullhd-adaptive-view .score .score--title {
  background-color: #66033e;
  color: #fff;
  font-size: 3.2rem;
  text-transform: uppercase;
  text-align: right;
  padding: 20px 80px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
#main-obs-fullhd-adaptive-view .score .score--body {
  color: #2c2c2c;
  padding: 20px;
  display: flex;
  /* gap: 10px; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

#main-obs-fullhd-adaptive-view .ball {
  line-height: 0.9;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main-obs-fullhd-adaptive-view .ck {
  background-color: rgb(0, 255, 0);
  color: transparent;
}

.ball- {
  background: linear-gradient(to bottom, #add8e6, #87ceeb); /* Azul claro */
  background-image: url("../../../../public/views-media/main-obs-fullhd-adaptive/ball-empty.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.ball-b {
  background: linear-gradient(to bottom, #add8e6, #87ceeb); /* Azul claro */
  background-image: url("../../../../public/views-media/main-obs-fullhd-adaptive/ball-b.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.ball-i {
  background: linear-gradient(to bottom, #f08080, #cd5c5c); /* Rojo claro */
  background-image: url("../../../../public/views-media/main-obs-fullhd-adaptive/ball-i.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.ball-n {
  background: linear-gradient(to bottom, #f08080, #cd5c5c); /* Rojo claro */
  background-image: url("../../../../public/views-media/main-obs-fullhd-adaptive/ball-n.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.ball-g {
  background: linear-gradient(to bottom, #f08080, #cd5c5c); /* Rojo claro */
  background-image: url("../../../../public/views-media/main-obs-fullhd-adaptive/ball-g.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.ball-o {
  background: linear-gradient(to bottom, #f08080, #cd5c5c); /* Rojo claro */
  background-image: url("../../../../public/views-media/main-obs-fullhd-adaptive/ball-o.png");
  background-repeat: no-repeat;
  background-size: contain;
}
