/* css/components/_game-mode.css */

#game-mode {
  /* background-color: firebrick; */
}

.layout-mode {
  background-color: rgb(229, 228, 226);
  padding: calc(var(--gap) / 2);
  border-radius: 4px;
}

/* Grid Game Mode */
#grid-game-mode {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(5, 1fr);
}

/* Groups and Cells */
#grid-game-mode .group {
  display: grid;
  gap: 2px;
}
#grid-game-mode .cell {
  display: grid;
}

/* General Buttons */
#grid-game-mode .btn-ggm {
  color: white;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 2px;
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
}

/* Letter Button */
#grid-game-mode .letter {
  background-color: rgb(178, 190, 181);
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.4rem;
  font-weight: var(--fw-bold);
  padding: calc(var(--gap) * 2 / 2);
}

/* Number Button */
#grid-game-mode .num {
  background-color: rgb(137, 148, 153);
  color: rgba(255, 255, 255, 0.32);
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
}

/* Middle Button */
#grid-game-mode .middle {
  background-color: rgb(211, 211, 211);
  color: rgb(224, 223, 223);
  font-size: 1.2rem;
  font-weight: var(--fw-bold);
}

/* Letter Button Status */
#grid-game-mode .letter:hover {
  background-color: rgb(138, 154, 91);
  color: rgb(95, 133, 117);
}
#grid-game-mode .letter:active {
  background-color: rgb(95, 133, 117);
  color: rgba(178, 190, 181, 0.8);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 8px 1px rgba(132, 136, 132, 0.5);
}
#grid-game-mode .letter.marked {
  background-color: rgb(138, 154, 91);
  color: rgba(178, 190, 181, 0.8);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 8px 1px rgba(132, 136, 132, 0.5);
}

/* Number Button Status */
#grid-game-mode .num:hover {
  background-color: rgb(227, 115, 94);
  color: rgba(255, 229, 180, 0.95);
}
#grid-game-mode .num:active {
  background-color: rgb(233, 116, 81);
  color: rgba(250, 249, 246, 0.75);
  text-shadow: 2px 2px 2px rgba(139, 64, 0, 0.75);
  box-shadow: inset 0 0 8px 1px rgba(139, 64, 0, 0.64);
}
#grid-game-mode .num.marked {
  background-color: rgb(233, 116, 81);
  color: rgba(250, 249, 246, 0.75);
  text-shadow: 2px 2px 2px rgba(139, 64, 0, 0.75);
  box-shadow: inset 0 0 8px 1px rgba(139, 64, 0, 0.64);
}

/* Middel Button Status */
#grid-game-mode .middle:hover {
  background-color: rgb(95, 158, 160);
  color: rgb(175, 225, 175);
}
#grid-game-mode .middle:active {
  background-color: rgb(95, 133, 117);
  color: rgba(224, 223, 223, 0.75);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 8px 1px rgba(64, 130, 109, 0.5);
}

/* Border Radius Grid */
#grid-game-mode .group:first-child .cell:first-child button {
  border-top-left-radius: 4px;
}
#grid-game-mode .group:last-child .cell:first-child button {
  border-top-right-radius: 4px;
}

/* Options Mode */
#game-mode .options-mode {
  display: grid;
}
#game-mode .options-mode .btn-opm {
  font-size: 1.6rem;
  padding: 8px 16px;
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 4px;
}
