/* last-number-list-mofv-view */
#last-number-list-mofv-view {
  grid-area: lnl;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
#last-number-list-mofv-view li {
  display: flex;
}
.dir-x {
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}
.dir-y {
  grid-auto-flow: row;
  grid-template-rows: repeat(4, 1fr);
}
.ball {
  background-color: white;
  color: rgb(25, 25, 112);
  font-size: 4.8rem;
  font-weight: var(--fw-bold);
  width: 100%;
  padding: 16px;
  border: 10px solid rgba(233, 220, 201, 0.75);
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
