/* last-number-mofv-view */
#last-number-mofv-view {
  background-color: white;
  border: 10px solid rgb(255, 255, 255);
}
#last-number-mofv-view .mofv-letter {
  font-size: 2.4rem;
  text-transform: uppercase;
}
#last-number-mofv-view .mofv-number {
  font-size: 8rem;
}
