/* last-number-mofv-view */
#last-number-mofv-view {
  background-color: white;
  color: rgb(25, 25, 112);
  font-size: 8rem;
  padding: calc(var(--gap) * 2);
  aspect-ratio: 1 / 1;
  border: 10px solid rgba(233, 220, 201, 0.75);
  border-radius: 100%;
  grid-area: ln;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ball {
  display: flex;
  align-items: center;
  justify-content: center;
}
