/* last-number-list-mofv-view */
#last-number-list-mofv-view {
  width: 100%;
  align-self: end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 10px; */
}
#last-number-list-mofv-view li {
  display: flex;
}
.dir-x {
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
}
.dir-y {
  grid-auto-flow: row;
  grid-template-rows: repeat(4, 1fr);
}

#last-number-list-mofv-view .ball {
  width: 100%;
  padding: 16px;
  border: 5px solid rgb(255, 255, 255);
}

#last-number-list-mofv-view .mofv-letter {
  font-size: 1.6rem;
  text-transform: uppercase;
}

#last-number-list-mofv-view .mofv-number {
  font-size: 4rem;
  text-transform: uppercase;
}
