/* src/assets/layout/_game.css */

main.game {
  padding: var(--gap);
  gap: calc(var(--gap));
  display: grid;
  grid-template-rows: auto 1fr;
}

main.game > .block {
  align-items: inherit;
  padding: calc(var(--gap));
}

main.game .block:nth-child(1) {
  order: 2; /* Mueve el primer elemento al segundo orden */
}
main.game .block:nth-child(2) {
  order: 1; /* Mueve el segundo elemento al primer orden */
}
